# (Encoding)

## Encoding labels

LabelEncoder is a utility class to help normalize labels such that they contain only values between 0 and n_classes-1. This is sometimes useful for writing efficient Cython routines. It can also be used to transform non-numerical labels (as long as they are hashable and comparable) to numerical labels. LabelEncoder can be used as follows:

In [4]:
# Data Preprocessing

## Imporing packages
import numpy as np
from sklearn import preprocessing

## Making data
input_labels = ['red', 'black', 'red', 'green', 'black', 'yellow', 'white']
print("\n Original data: \n",input_labels)

## Encoding labels
encoder = preprocessing.LabelEncoder()
encoder.fit(input_labels)

test_labels = ['green', 'red', 'black']
encoded_values = encoder.transform(test_labels)
print("\n Label examples: \n", test_labels)
print("\n Encoded value examples: \n", list(encoded_values))

encoded_values_example = [3, 0, 4, 1]
decoded_list = encoder.inverse_transform(encoded_values_example)
print("\n Encoded value examples: \n", encoded_values_example)
print("\n Decoded label examples: \n", list(decoded_list))

 Original data:
 ['red', 'black', 'red', 'green', 'black', 'yellow', 'white']

 Label examples:
 ['green', 'red', 'black']

 Encoded value examples:
 [1, 2, 0]

 Encoded value examples:
 [3, 0, 4, 1]

 Decoded label examples:
 ['white', 'black', 'yellow', 'green']

## One Hot Encoding

One hot encoding is a process used to convert categorical data variables into a form that could be provided to machine learning algorithms to do a better job in prediction. Categorical data are variables that contain label values rather than numeric values. The number of possible values is often limited to a fixed set, for example, users by country, where the users can be from one of the countries in the dataset. Many machine learning algorithms cannot work with categorical data directly. They require all input variables and output variables to be numeric. This is where one hot encoding comes into play, where each unique category value is assigned a binary vector that has all zero values except the index of the category, which is marked with a 1.

### 1) How One Hot Encoding Works

One hot encoding converts categorical data, typically represented in string format, into a numerical format that can be used in mathematical calculations and hence by machine learning algorithms. The process involves creating a new binary column for each category in the original data. Here's a step-by-step explanation:

<ol>
  <li>Identify all unique categories across the categorical variable.</li>
  <li>Create a binary column for each category.</li>
  <li>For each entry, set the column that corresponds to the category to 1, and all other new columns to 0.</li>
</ol>

As an example, consider a 'Color' feature with three categories: 'Red', 'Green', and 'Blue'. One hot encoding this feature would create three new features: 'Color_Red', 'Color_Green', and 'Color_Blue'. An observation with 'Red' as the color would have a '1' in the 'Color_Red' column and a '0' in the other two color columns.

### 2) Advantages of One Hot Encoding

One hot encoding has several advantages, including:

<ol>
    <p><b>Preservation of Information:</b></p>
  <li>It ensures that the categorical variable carries the same weight in the machine learning model, without any potential ordinal relationship which might be wrongly interpreted by the algorithm.</li>
  <p><b>Compatibility:</b></p>
  <li>It makes the dataset compatible with various types of machine learning algorithms which expect numerical input.</li>
  <p><b>Intuitiveness:</b></p>
  <li>The representation is straightforward and easy to understand.</li>
</ol>

### 3) Disadvantages of One Hot Encoding

However, one hot encoding is not without its drawbacks, such as:

<ol>
  <p><b>Dimensionality Increase:</b></p>
  <li>It can lead to a high increase in the data dimensionality, especially if the categorical variable has many categories. This is often referred to as the "curse of dimensionality".</li>
  <p><b>Sparse Matrix:</b></p>
  <li>It creates a sparse matrix, which can be computationally intensive for some models to handle.</li>
  <p><b>Information Loss:</b></p>
  <li>If the categorical variable has some ordinal relationship, one hot encoding does not capture this relationship unless it is explicitly modeled elsewhere.</li>
</ol>

### 4) When to Use One Hot Encoding

One hot encoding is most useful when:

<ol>
  <li>The categorical feature is nominal (i.e., there is no ordinal relationship between the categories).</li>
  <li>The number of categorical features is less, so the increase in dimensionality is manageable.</li>
  <li>The machine learning algorithm does not support categorical data natively.</li>
</ol>

### 5) Alternatives to One Hot Encoding

When one hot encoding is not suitable, alternatives include:

<ol>
  <p><b>Label Encoding:</b></p>
  <li>Assigning each unique category in a categorical variable with a numerical label. However, this might introduce an ordinal relationship that might not exist.</li>
  <p><b>Embedding:</b></p>
  <li>A dense representation of categories which is often used in deep learning models.</li>
  <p><b>Binary Encoding:</b></p>
  <li>A combination of hashing and binary representation which can reduce dimensionality compared to one hot encoding.</li>
</ol>

### 6) Implementing One Hot Encoding

In practice, one hot encoding can be implemented easily with the help of many data processing libraries. For example, in Python, the pandas library offers a 'get_dummies' function that automatically converts categorical columns to one hot encoded data. Similarly, Scikit-learn's 'OneHotEncoder' can be used to one hot encode categorical features.

In [13]:
# Data Preprocessing

## Imporing packages
import pandas as pd
import numpy as np

## Making data
d = {'ID': [1, 22, 333, 4444, 55555], 'Gender': ["man", "woman", "man", "woman", "woman"]}
df = pd.DataFrame(data=d)
df

      ID Gender
0      1    man
1     22  woman
2    333    man
3   4444  woman
4  55555  woman

In [20]:
## categorical variable on a column
pd.get_dummies(df['Gender'])

   man  woman
0    1      0
1    0      1
2    1      0
3    0      1
4    0      1

In [21]:
## categorical variable on a dataframe
df_oneHoted = pd.get_dummies(df)
df_oneHoted

      ID  Gender_man  Gender_woman
0      1           1             0
1     22           0             1
2    333           1             0
3   4444           0             1
4  55555           0             1

In [22]:
## Removing repetetive generated columns
df_oneHoted.drop(columns=['Gender_woman'],inplace=True)
df_oneHoted

      ID  Gender_man
0      1           1
1     22           0
2    333           1
3   4444           0
4  55555           0

### 7) Conclusion

One hot encoding is an essential preprocessing step for handling categorical data in machine learning. By converting categories into a binary matrix, it allows algorithms to leverage categorical data without falling into the trap of misinterpreting ordinal relationships. However, data scientists must be mindful of the potential issues such as increased dimensionality and ensure that the benefits of using one hot encoding outweigh the drawbacks for their specific application.